---
import Page from './Page.astro';

interface Thumbnail {
  url: string;
  alt?: string;
}

interface FrontmatterProps {
  title: string;
  description: string;
  author: string;
  pubDate?: Date | string | number;
  image?: Thumbnail;
  tags?: string[];
}

// const {title, description, author, pubDate, image, tags} = Astro.props;

const {frontmatter} = Astro.props;
const {title, description, author, pubDate, image, tags} =
  frontmatter as FrontmatterProps;
---

<Page title={title}>
  <main class="BlogPost">
    <h1>{title}</h1>
    {pubDate ? <p>{pubDate.toString().slice(0, 10)}</p> : null}

    <p><em>{description}</em></p>
    <p>Written by: {author}</p>

    {image?.url ? <img src={image.url} width="300" alt={image.alt} /> : null}
    <slot />

    {
      tags?.length ? (
        <ul class="Tags">
          {tags.map((tag) => (
            <li class="Tag">
              <a href={`/tags/${tag}`} class="Link">
                {tag}
              </a>
            </li>
          ))}
        </ul>
      ) : null
    }
  </main>
</Page>

<style>
  .Tags {
    display: flex;
    flex-wrap: wrap;
  }

  .Tag {
    margin: 0.25em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    border-radius: 0.5em;
    border: dotted 1px var(--color-accent);
    background-color: var(--color-accent-dark);
  }

  .Link {
    color: var(--color-primary);
  }
</style>
